{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/bootstrap.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      href="{% static 'img/favicon.ico' %}"
      type="image/x-icon"
    />
  </head>
  <body style="background: rgb(33, 37, 41)">
    <div class="bg">
      <div
        class="main-cont container-lg at-least-fullscreen bg-primary"
        style="box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.39)"
      >
        {% include 'header.html' %} {% block content %} {% endblock %}
        <div class="text-center text-muted p-3 anim-opacity">
          ©KGSU 2021-2022
        </div>
      </div>
    </div>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
  </body>
</html>
